*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: 0 auto;  
}
header {
    height: 45px;
    margin-bottom: 20px;
}
.freemysql {
    background-color: #5c5c5c;
    color: white;
    position: relative;
    height: 100px;
    padding: 30px 0 0 20px;
    margin-top: 10px;
}
.disco {
    width: 180px;
    position: absolute;
    right: 15px;
    bottom: -40px;
}
.disco img {
    width: 100%;
}
header ul li {
    display: inline-block;
    margin: 0 20px;
    padding-top: 25px;
}
h2 {
    color: blue;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.listcard {
    position: relative;
}
.register {
    text-align: center;
    width: 67%;
    background-color: #f2f2f2;
    padding: 14px;
}
.register h3 {
    font-size: 14px;
    margin-bottom: 13px;
}
.register h5 {
    font-size: 28px;
    margin-bottom: 15px;
}
.register button {
    padding: 8px;
    font-size: 18px;
    margin-bottom: 15px;
    justify-content: space-between;
}
.register p {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 20px;
}
.included {
    position: absolute;
    width: 31%;
    height: 205px;
    background-color: #f2f2f2;
    right: 0;
    bottom: 0;

}
.included h3 {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}
.included ul {
    font-size: 15px;
    margin-left: 50px;
    margin-top: 10px;
    line-height: 28px;
}
.listcard2 {
    margin-top: 15px;
    position: absolute;
}
.database {
    padding: 14px;
    width: 32%;
    background-color: #f2f2f2;
}
.database h3 {
    font-size: 17px;
}
.database p {
    font-size: 15px;
    margin-top: 5px;
    line-height: 20px;
}
.secure {
    position: relative;
    padding: 14px;
    width: 330px;
    height: 173px;
    display: inline-block;
    top: -193px;
    left: 340px;
    background-color: #f2f2f2;
}
.secure h3 {
    font-size: 17px;
}
.secure p {
    font-size: 15px;
    margin-top: 5px;
    line-height: 20px;
}
.free {
    position: relative;
    padding: 14px;
    width: 310px;
    height: 173px;
    display: inline-block;
    background-color: #f2f2f2;
    left: 357px;
    top: -173px;
}
.free h3 {
    font-size: 17px;
}

.free p {
    font-size: 15px;
    margin-top: 5px;
    line-height: 20px ;
}
footer {
    padding: 20px;
    height: 30px;
    position: relative;
}
footer p {
    width: 1000px;
    font-size: 15px;
    text-align: right;
    margin-left: -10px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #5c5c5c;
    color: white;
    height: 30px;
}